body {
  background-color: #fafafa;
}

.center {
  position: relative;
  top: 50%;
  -o-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
